body{
    padding: 0;
    margin: 0;
    font-family:  'Roboto', sans-serif;
}

section{
    padding-left: 5%;
    padding-right: 5%;
    background-color: $colour-light_gray;
}

a{
    text-decoration: none;
}
