.menu{
    margin-top: -50px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
    border-radius: 30px;
    background-color: $colour-light_gray;
}

.menu__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 300;
    }
}

.restaurant__heart{
    @include heart;
}

h2{
    font-size: 17px;
    font-weight: 300;
}

.menu__box{
    @include box-menu;
    
    &:hover .menu__icon-slide{
        display: inline;
        animation: slide-right 500ms;
        
        i{
            animation: turn 500ms;
        }
    }
    &:hover .menu__price{
        animation: slide-right 500ms;
        
    }
    &:hover .menu__entitled {
        animation: slider-text 500ms;
    }
}

.menu__box--adjust{
    height: 80px;

    .menu__icon-slide{
        padding-top: 30px;
    }
}


.menu__underline{
    border-bottom: 3px solid $colour-tertiary;
    margin-bottom: 14.11px;
    width: 43px;

    h2{
        margin-bottom: 4px;
    }
}

.menu__appearance1{
    animation: appearance-box 1s forwards 200ms;
}
.menu__appearance2{
    animation: appearance-box 1s forwards 400ms;
}

.menu__appearance3{
    animation: appearance-box 1s forwards 600ms;
}

.menu__appearance4{
    animation: appearance-box 1s forwards 800ms;
}
.menu__appearance5{
    animation: appearance-box 1s forwards 1000ms;
}

.menu__appearance6{
    animation: appearance-box 1s forwards 1200ms;
}

.menu__appearance7{
    animation: appearance-box 1s forwards 1400ms;
}
.menu__appearance8{
    animation: appearance-box 1s forwards 1500ms;
}

.menu__appearance9{
    animation: appearance-box 1s forwards 1600ms;
}
.menu__menu__appearance10{
    animation: appearance-box 1s forwards 1600ms;
}
/*
.menu__box{
    &:hover .menu__price{
        animation: slide-right 500ms;
        
    }
    &:hover .text{
        animation: slider-text 500ms;
    }
}
*/